body{
  font-family: Arial;
  margin:0;
  text-align:center;
}

header{
  background:#222;
  color:white;
  padding:40px;
}

section{
  padding:30px;
}
.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}
